.section__data {
    flex: 0 1 75%;
}

.section__name {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(64, 64, 64);
    margin: 20px 0 40px 30px;
}

.section__data p {
    font-size: 17px;
    color: rgb(64, 64, 64);
    font-weight: bold;
    margin: 0px 0 20px 30px;
}

.section__data p span {
    font-size: 15px;
    font-weight: normal;
    color: rgb(64, 64, 64);
}

